@{
    ViewBag.Title = "Página Inicial";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">        O ASP.NET é uma estrutura web gratuita para a construção de ótimos Web sites e aplicativos da Web usando HTML, CSS e JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Entenda Mais &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Começando</h2>
        <p>
            O ASP.NET MVC oferece uma maneira poderosa e baseada em padrões para criar sites dinâmicos que
            Permite uma separação limpa das preocupações e dá-lhe controle total sobre a marcação
            Para um desenvolvimento agradável e ágil.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Entenda mais &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2> Obtenha mais bibliotecas</h2>
        <p> O NuGet é uma extensão gratuita do Visual Studio que facilita a adição, remoção e atualização de bibliotecas e ferramentas em projetos do Visual Studio.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Entenda Mais &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Hospedagem na web</h2>
        <p>Você pode facilmente encontrar uma empresa de hospedagem na web que ofereça a combinação certa de características e preço para seus aplicativos.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Entenda Mais &raquo;</a></p>
    </div>
</div>